/* variables */
:root {
  /* colors */
  --waipula-red: #b92126;
  --waipula-yellow: #fcd00c;
  --waipula-white: #ffffff;
  /* spacers */
  --spacer-s: 12px;
  --spacer-m: 24px;
  --spacer-l: 36px;
  --spacer-xl: 48px;
  --spacer-xxl: 96px;
  --spacer-xxxl: 20vh;
  /* margins */
  --site-margin: var(--spacer-xxxl);
  --synopsis-margin-outer: var(--site-margin);
  --synopsis-margin-inner: calc(var(--site-margin) / 3);
  --synopsis-margin-middle: calc((var(--site-margin) / 3) * 2);
  --site-width: 100vw; }

  .header__container {
    display: flex;
    position: relative;
    padding-top: var(--spacer-l);
    padding-bottom: var(--spacer-xl);
    padding-left: var(--site-margin);
    padding-right: var(--site-margin);
    background-color: var(--waipula-red);
    justify-content: space-between;
  }

  .header__logo {
  }


  h1 {
  }

  /* responsive navigation */
  /* hamburger icon is hidden on desktops */

  #menu-toggle, .hamburger {
    display: none;
  }

  /* Flexbox styling */

  /* body {
    display: flex;
    flex-direction: column;
  } */

  .header_navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .header_navigation a {
    flex: 1 0;
    text-align: right;
    text-decoration: none;
    color: var(--waipula-yellow);
  }

  .header_navigation a:hover {
    }

  /*Strip the ul of padding and list styling*/
  ul {
      list-style-type:none;
      margin:0;
      padding:0;
      position: absolute;
  }
  /*Create a horizontal list with spacing*/
  li {
      display:inline-block;
      float: left;
      margin-left: 30px;
  }
  /*Style for menu links*/
  li a {
      display:block;
      text-align: center;
      text-decoration: none;
  }
  /*Hover state for top level links*/
  li:hover a {
  }
  /*Style for dropdown links*/
  li:hover ul a {
      height: 40px;
      line-height: 40px;
  }
  /*Hover state for dropdown links*/
  li:hover ul a:hover {
  }
  /*Hide dropdown links until they are needed*/
  li ul {
      display: none;
  }
  /*Make dropdown links vertical*/
  li ul li {
      display: block;
      float: none;
  }
  /*Prevent text wrapping*/
  li ul li a {
      width: auto;
      min-width: 100px;
      padding: 0 20px;
  }
  /*Display the dropdown on hover*/
  ul li a:hover + .hidden, .hidden:hover {
      display: block;
  }
  /*Style 'show menu' label button and hide it by default*/
  .show-menu {
      text-decoration: none;
      text-align: right;
      padding: 10px 0;
      display: none;
  }
  /*Hide checkbox*/
  input[type=checkbox]{
      display: none;
  }
  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked ~ #menu{
      display: block;
  }
  /*Responsive Styles*/
  @media screen and (max-width : 992px){
      /*Make dropdown links appear inline*/
      .header_navigation a {
        text-decoration: none;
        text-align: center;
        color: black;
      }

      ul {
          position: static;
          display: none;
          color: black;
      }
      /*Create vertical spacing*/
      li {
          color: black;
          margin-bottom: 1px;
          background-color: var(--waipula-yellow);
      }
      /*Make all menu links full width*/
      ul li, li a {
          width: 100%;
          color: black;
      }
      /*Display 'show menu' link*/
      .show-menu {
          display:block;
          color: black;
      }
  }

/* svg */
svg {
  width: 100%;
  height: 100%;
}

/* reset */
html {
  box-sizing: border-box;
  background-color: var(--waipula-red); }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

svg {
  width: 100%;
  height: 100%; }

ul {
  list-style: none;
}


.header__navigation {
  display: flex;
  justify-content: flex-end;
}

.header__linkgroup {
  padding-left: var(--spacer-l);
  padding-right: var(--spacer-s);
  text-align: left;
}

/* Home Page Synopsis Section */

.synopsis__container {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* vertical align */ }

.synopsis__item {
  width: calc(100vw/3);
  height: auto;
  text-align: left;
  padding-bottom: var(--spacer-l);
/* border: 1px solid red; */}

.synopsis__left {
  padding-left: var(--synopsis-margin-outer);
  padding-right: var(--synopsis-margin-inner);
}

.synopsis__middle {
  padding-left: var(--synopsis-margin-middle);
  padding-right: var(--synopsis-margin-middle);
}

.synopsis__right {
  padding-left: var(--synopsis-margin-inner);
  padding-right: var(--synopsis-margin-outer);
}

.synopsis__button {
  background-color: var(--waipula-red);
  text-align: center;
}

a.synopsis__button {
  background-color: var(--waipula-yellow);
  padding: 14px 16px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
}

a.synopsis__button:hover {
  background-color: #eee;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
}

.synopsis__illustration {
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.synopsis__illustration--sdgs {
  background-image: url("images/cover__illustration--sdgs.svg");
}

.synopsis__illustration--visit {
  background-image: url("images/cover__illustration--visit.svg");
}

.synopsis__illustration--joinus {
  background-image: url("images/cover__illustration--joinus.svg");
}

.synopsis__photoslide {
  background-size: cover;
  background-repeat: no-repeat;
  border: 7px solid white;
}

.synopsis__photoslide--sdgs {
  background-image: url("images/photo-1.jpg");
  width: 90%;
  height: 45%;
  transform: rotate(-5deg) translate(0px, 25px);
}

.synopsis__photoslide--visit {
  background-image: url("images/photo-3.jpg");
  width: 50%;
  height: 70%;
  transform: rotate(5deg) translate(0px, 25px);
}

.synopsis__photoslide--joinus {
  background-image: url("images/photo-2.jpg");
  width: 90%;
  height: 45%;
  transform: rotate(5deg) translate(0px, 25px);
}

.synopsis__title {
  text-align: center;
}

.synopsis__excerpt {
  background-color: var(--waipula-yellow);
  padding-top: var(--spacer-m);
}

/* Subscription Form */

.subscription__container {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* vertical align */ }

 button {
  background-color: var(--waipula-yellow);
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
  }

.form__row {
  width: 100%;
  padding-bottom: 1vh;
  text-align: center;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
}

/* Style the submit button */
.form-inline button {
  background-color: var(--waipula-yellow);
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
}

.form-inline button:hover {
  background-color: var(--waipula-white);
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Style for Pages */
.callout__container {
  text-align: center;
}

.application__container {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--waipula-yellow);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* vertical align */ }

.form__row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.form__row input[type='text'],
.form__row input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  /* width: 100%; */
  padding: 7px;
  font-size: 14px;
}

.form__row label {
  margin-bottom: 15px;
}

.form__row--legacy {
  border: none;
  margin-bottom: 40px;
}

.form__row--legacy legend {
  margin-bottom: 15px;
}

.form__row--legacy .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.form__row--legacy input[type='radio'] {
  margin-top: 2px;
}

.form__row--legacy .radio-label,
.form__row--legacy input[type='radio'] {
  float: left;
}

.form-__row select {
  width: 100%;
  padding: 5px;
  font-size: 14px;            /* This won't work in Chrome or Safari */
  -webkit-appearance: none;   /* This will make it work */
}

.form__row__question {
}

.form__row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form__row .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

/* blog styles */
.blog__container {
    display: flex;
    position: relative;
    padding-top: var(--spacer-l);
    padding-bottom: var(--spacer-xl);
    padding-left: var(--site-margin);
    padding-right: var(--site-margin);
    background-color: var(--waipula-red);
    justify-content: space-between;
}

/* semantic HTML for legacy browsers */
header {
  display: flex;
  position: fixed;
  margin: 0 auto;
  z-index: 1; }

nav {
  width: 100%;
  display: flex; }

article {
  scroll-snap-align: start;
  width: 100%;
  display: flex; }

section {}

.caption {
  width: 60%;
  padding: 5vmin; }

aside {
  width: 100%;
  display: flex; }

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh; }

/* Set Single Column Content
for Laptops/Desktops and Down */
  @media screen and (max-width: 992px) {
    .header__container {
        padding-left: calc((100vw - 50vh) / 2);
        padding-right: calc((100vw - 50vh) / 2);
    }
    .synopsis__item {
      width: 100vw; }
    .synopsis__illustration {
      height: 55vh; }
    .synopsis__left {
        padding-left: calc((100vw - 50vh) / 2);
        padding-right: calc((100vw - 50vh) / 2);
      }
    .synopsis__middle {
        padding-left: calc((100vw - 50vh) / 2);
        padding-right: calc((100vw - 50vh) / 2);
      }
    .synopsis__right {
        padding-left: calc((100vw - 50vh) / 2);
        padding-right: calc((100vw - 50vh) / 2);
      }
    .synopsis__container {
        flex-direction: column;
      }
    .synopsis__container :nth-child(1) { order: 1; }
    .synopsis__container :nth-child(2) { order: 5; }
    .synopsis__container :nth-child(3) { order: 9; }
    .synopsis__container :nth-child(4) { order: 2; }
    .synopsis__container :nth-child(5) { order: 6; }
    .synopsis__container :nth-child(6) { order: 10; }
    .synopsis__container :nth-child(7) { order: 3; }
    .synopsis__container :nth-child(8) { order: 6; }
    .synopsis__container :nth-child(9) { order: 11; }
    .synopsis__container :nth-child(10) { order: 4; }
    .synopsis__container :nth-child(11) { order: 7; }
    .synopsis__container :nth-child(12) { order: 12; }
    }

  /* Portrait Tablets and Large Phones */
  @media screen and (min-width: 600px) and (max-width: 768px) {
    }
  /* Landscape Tablets */
  @media screen and (min-width: 768px) and (max-width: 992px) {
     }
  /* Laptops and Desktops */
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .header__container {
      padding-left: calc(var(--synopsis-margin-outer) / 1.5);
      padding-right: calc(var(--synopsis-margin-outer) / 1.5);
    }
      .synopsis__left {
        padding-left: calc(var(--synopsis-margin-outer) / 1.5);
        padding-right: calc(var(--synopsis-margin-inner) / 1.5);
      }

      .synopsis__middle {
        padding-left: calc(var(--synopsis-margin-middle) / 1.5);
        padding-right: calc(var(--synopsis-margin-middle) / 1.5);
      }

      .synopsis__right {
        padding-left: calc(var(--synopsis-margin-inner) / 1.5);
        padding-right: calc(var(--synopsis-margin-outer) / 1.5);
      }}
  /* Extra Large Laptops and Desktops */
  @media screen and (min-width: 1200px) {
      }

/* Application Form */
@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
  .form__row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form__row input[type='text'] {
    width: 250px;
    height: initial;
  }
  .form__row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .form__row--legacy {
  margin-bottom: 10px;
  }
  .form__row--legacy legend {
  width: 120px;
  text-align: right;
  padding-right: 20px;
  }
  .form__row--legacy legend {
  float: left;
}
  .form__row__question {
  margin-left: 120px;
  }
  .form__row textarea {
  margin-left: 120px;
  }
}
